/* Variables */

:root{
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-extra-grey: #293449;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --wight: #FFFFFF;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --mistake: #BA2732;
    --extra-grey: #EAEAEA;
    --black: #000000;
    --grey: #F3F7F9;
    --extra-greylight: #B5B5B5;
    --ultra-grey: #A9A9A9;
    --ultra-greylight: #E5E5E5;
}

/* Global */

body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
    background-color: var(-wight);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

/*Header*/

.header-top{
    background-color: var(--basic-grey);
    width: 100%;
    height: 42px;
}

.logo-wrapper{
    background-color: var(--basic-red);
    width: 220px;
    height: 42px;
    border-bottom: 5px var(--mistake) solid;
}

.logo-wrapper img{
    position: absolute;
    margin-top: 13px;
    margin-bottom: 17px;
    margin-left: 56px;
    margin-right: 57px;
}

.user-navigation a,
.main-navigation a{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    color: var(--wight);
}

.header-top .header-order{
    background-color: var(--basic-green);
    width: 150px;
    height: 42px;
}

.header-middle-wrapper{
    background-color: var(--basic-background);
}

nav ul{
    background-color: var(--basic-grey);
}

nav a:hover,
nav a:focus{
    background-color: var(-basic-extra-grey);
}

nav a:active{
    background-color: var(-basic-extra-grey);
    color: rgba(245,245,245,0.25);
}

/*Promo*/

/*About us*/

.about-us h2{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us .transport{
    list-style: none;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.transport .transportli{
    background-color: var(--basic-red);
    width: 25px;
    height: 2px;
}

/* Button */

.button{
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: var(--wight);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
}

.button:active{
    background-color: var(--mistake);
}

.breadcrumbs{
    line-height: 18px;
    text-transform: uppercase;
}

.page-title{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/*Filters*/

.filter legend{
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter ul{
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label{
    background-color: var(--extra-greylight);
}

/*Catalog*/

.catalog-item{
    border: 1px solid var(--extra-grey);
}

.catalog-item .catalog-item-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
}

.catalog-item .catalog-item-price{
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--ultra-grey);
}

.catalog-item .catalog-item-sell-price{
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--wight);
    background-image: url(img/red-button.svg);
    background-repeat: no-repeat;
}

/* Pagination */


.pagination-item a {
    border: 1px solid var(--ultra-greylight);
    border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus{
    border: 1px solid var(--basic-greylight);
}

.pagination-item a:active{
    border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: var(--wight);
    background-color: var(--basic-red;
}

/*Contacts*/

.contacts h2{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/*Footer*/

.footer-top {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-grey);
    color: var(--grey);
}

a.footer-tel{
    font-family: inherit;
    color: var(--grey);
}

.special-navigation a{
    color: var(--special-yellowlight);
}

.footer-navigation a{
    color: var(--basic-background);
}

.footer-navigation a:focus,
.footer-navigation a:hover,
.special-navigation a:focus,
.special-navigation a:hover{
    text-decoration: underline;
}

.footer-navigation a:activ{
    color: rgba(245,245,245,0.25);
}

.special-navigation a:active{
    color: rgba(255,209,128,0.25);
}

.footer-bottom{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-extra-grey);
    color: var(--grey);
}

/*feedback*/

section .feedback{
    display: none;
}

/*map*/

section .map{
    display: none;
}





